html {
  box-sizing: border-box;
  font-size: 1vw;  /* Base font size as 1% of viewport width */
  background-color: white;
  color: black;
}

body {
  font-family: "Open Sans", sans-serif;
  color: gray;
  background-color: rgb(255, 255, 255);
  line-height: 1.2;
  width: 100vw;
  overflow-x: hidden;
}

/* Nav Bar */
header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5vh;
  padding: 2vh 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
}

header a {
  margin-right: 2vw;
  color: white;
  text-decoration: none;
  font-size: 1vw;
}

header a:hover {
  text-decoration: underline;
}

header h3 {
  margin-right: 2vw;
  color: white;
  font-size: 1.3vw;
}

/* Welcome Section */
#welcome-section {
  width: 100vw;
  height: 10vh;
  position: relative;
  padding-top: 10vh;
}

#welcome-section h1 {
  font-size: 1.2vw;
  color: black;
  margin-left: 2vw;
}

#welcome-section h2 {
  font-size: 2vw;
  color: black;
  margin-left: 2vw;
  border-bottom: 0.1vw solid black;
  padding-bottom: 0.3vw;
  word-spacing: 0.2vw;
  letter-spacing: 0.5vw;
}

#welcome-section p {
  font-size: 1vw;
  color: black;
  margin-left: 2vw;
  margin-top: 2.5vh;
  max-width: 80vw;
}
/*
#Personal-Photo {
  position: absolute;
  top: 40vh;
  right: 5vw;
  width: 20vw;
  height: auto;
}
  */

/* Projects Section */
#projects {
  width: 100vw;
  padding: 5vh 2vw;
  position: relative;
  margin-top: 10vh;
}

#projects h3 {
  font-size: 2vw;
  color: black;
  border-bottom: 0.1vw solid #40e0d0;
  display: inline-block;
  margin-bottom: 5vh;
}

#projectsbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#projectsbar a {
  color: black;
  text-decoration: none;
  font-size: 2vw;
  text-align: center;
}

#projectsbar a:hover {
  color: gray;
  filter: brightness(120%);
  font-weight: bold;
}

#projectsbar img {
  width: 30vw;
  height: 40vh;
}

/* Skills Section */
#skills {
  width: 100vw;
  padding: 5vh 2vw;
  color: black;
  margin-top: 5vh;
}

#skills h3 {
  font-size: 2vw;
  color: black;
  border-bottom: 0.1vw solid #40e0d0;
  display: inline-block;
  margin-bottom: 5vh;
}

#skillsbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#skills img {
  width: 15vw;
  height: auto;
}

#skillsbar a {
  color: black;
  text-decoration: none;
  font-size: 1.5vw;
  text-align: center;
}

/* Footer */
#footer {
  width: 100vw;
  padding: 5vh 0;
  margin-top: 5vh;
  text-align: center;
}

#footer p {
  font-size: 1.5vw;
  color: black;
  border-bottom: 0.1vw solid gray;
  display: inline-block;
  padding-bottom: 1vh;
  margin-bottom: 3vh;
}

#footer img {
  width: 5vw;
  opacity: 0.85;
  margin: 0 2vw;
}

#footer img:hover {
  opacity: 1;
}

/* Ensure images don't exceed their container */
img {
  max-width: 100%;
  height: auto;
}
